* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(162, 247, 247);
  background: linear-gradient(
    90deg,
    rgba(162, 247, 247, 1) 7%,
    rgba(156, 216, 236, 0.9864320728291317) 63%
  );
}

.slider {
  max-width: 1280px;
  height: 570px;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(25%);
}

.slides {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide {
  width: 25%;
  transition: all 0.3s ease;
}

.slide img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 20px;
}
figcaption {
  position: absolute;
  display: block;
  margin-left: 15%;
  margin-top: 20px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 30px;
}
.navigation {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 94%;
  right: 15%;
}

.bar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.dot {
  margin-top: 8px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: rgb(73, 132, 243);
}

.bar:hover .dot {
  border: none;
  background-color: aliceblue;
}

.bar:active .dot {
  border: 3px solid white;
  background: none;
}

input[name="slide"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

#r1:checked ~ .navigation label > #d1 {
  background: none;
  border: 3px solid rgb(73, 132, 243);
}
#r2:checked ~ .navigation label > #d2 {
  background: none;
  border: 3px solid rgb(73, 132, 243);
}
#r3:checked ~ .navigation label > #d3 {
  background: none;
  border: 3px solid rgb(73, 132, 243);
}
#r4:checked ~ .navigation label > #d4 {
  background: none;
  border: 3px solid rgb(73, 132, 243);
}

@media screen and (max-width: 1230px) {
  .navigation {
    bottom: 5%;
  }
}

@media screen and (max-width: 1170px) {
  .navigation {
    top: 85%;
  }
}

@media screen and (max-width: 1120px) {
  .navigation {
    top: 83%;
  }
}
@media screen and (max-width: 1070px) {
  .navigation {
    top: 80%;
  }
}
@media screen and (max-width: 1020px) {
  .navigation {
    top: 76%;
  }
}

@media screen and (max-width: 970px) {
  .navigation {
    top: 73%;
  }
}
@media screen and (max-width: 920px) {
  .navigation {
    top: 70%;
  }
}
@media screen and (max-width: 870px) {
  .navigation {
    top: 66%;
  }
}
@media screen and (max-width: 820px) {
  .navigation {
    top: 63%;
  }
}
@media screen and (max-width: 770px) {
  .navigation {
    top: 59%;
  }
}
@media screen and (max-width: 720px) {
  .navigation {
    top: 55%;
  }
}
@media screen and (max-width: 670px) {
  .navigation {
    top: 51%;
  }
}
@media screen and (max-width: 620px) {
  .navigation {
    top: 48%;
  }
}

/* Mobile */
@media screen and (max-width: 570px) {
  .slide img {
    width: 90%;
    height: auto;
  }

  figcaption {
    margin-top: 70px;
    font-size: 25px;
    margin-left: 5%;
  }
  .navigation {
    right: 32%;
    top: 55%;
  }
  .dot {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 530px) {
  .navigation {
    top: 52%;
  }
}
@media screen and (max-width: 500px) {
  .navigation {
    top: 48%;
  }
  figcaption {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .navigation {
    top: 45%;
  }
}
@media screen and (max-width: 430px) {
  .navigation {
    top: 42%;
  }
  figcaption {
    margin-top: 60px;
  }
}
@media screen and (max-width: 385px) {
  .navigation {
    top: 35%;
    right: 25%;
  }
  figcaption {
    margin-top: 50px;
  }
}
@media screen and (max-width: 335px) {
  .navigation {
    top: 32%;
    right: 20%;
  }
  figcaption {
    margin-top: 50px;
  }
}
